@import "reset.css";
@import "casing.css";
@import "history.css";
@import "theme.css";

body {
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}
